<h1><%= t('.title')%></h1>

<% if user_signed_in? && current_user.admin?  %>
    <%= link_to 'Створити нову статтю', new_admin_post_path, class: 'btn btn-outline-primary btn-sm' %>
<% end %>

<%= render @posts %>

<%= paginate @posts %>
